body {
  font-family: 'Arial', sans-serif;
  margin-top: 40px;
  /* Para evitar que a navbar sobreponha conteúdo */
}

.navbar-custom {
  background-color: rgb(8, 8, 183);
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.footer {
  background-color: rgb(8, 8, 183);
  max-width: 100%;
  padding: 1px;
}

/* Icones navbar */
.icon-wrapper {
  position: relative;
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
}

.icon-outline,
.icon-fill {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.icon-fill {
  opacity: 0;
}

.nav-link:hover .icon-outline {
  opacity: 0;
}

.nav-link:hover .icon-fill {
  opacity: 1;
}

/* Item ativo */
.nav-link.active .icon-outline {
  opacity: 0;
}

.nav-link.active .icon-fill {
  opacity: 1;
}
.nav-link:active,
.nav-link:hover {
  background-color: #1f1fcf;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: white;
  transform: translateY(1px) scale(1.01);
}

.nav-link {
  border-radius: 10px;
}

@media (max-width: 992px) {
  .nav-link {
    display: block;
    width: 100%;
    padding: 10px 20px;
  }
  .nav-item {
    margin-bottom: 2px;
  }
}

.logo-wrapper {
    background-color: white;
    border-radius: 15px;     
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper img {
    max-width: 50%; 
    max-height: auto;
}

#marcasCarousel .carousel-indicators {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#marcasCarousel .carousel-indicators button {
    width: 3rem;
    height: 0.4rem;
    border-radius: 20px;
    background-color: #7e7e7e;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s;
}

#marcasCarousel .carousel-indicators .active {
    background-color: #0808B7;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#marcasCarousel {
    width: 100%;
    margin-bottom: 40px;
}


.hero{
    background-color: #1111a7;
    color: white;
    box-shadow: 0 0 5px black;
}

.cards {
    transition: all 0.3s ease-out;
    border-radius: 15px;
}

.cards:hover {
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .logo-wrapper img {
        max-width: 80%; 
        max-height: auto;
    }
    
    #marcasCarousel .carousel-indicators button {
        width: 2rem;
        height: 0.3rem;
    }   
    .cards {
        margin: 10px;
    }
    
}
