body {
    font-family: 'Arial', sans-serif;
    margin-top: 75px; /* Para evitar que a navbar sobreponha conteúdo */
   
}
.navbar-custom{
    background-color: rgb(8, 8, 183);
}
.nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #7286c0;
  color: #fff;
}

   .footer{ 
    background-color: rgb(8, 8, 183);
    max-width: 100%;
    padding: 2.5px;
   }






/* Introdução */
.intro{
  background-color: rgb(228, 228, 228);
  border-radius: 10px;

}

/* Animação no hover dos cards */
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}


.servico-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 16px auto 16px auto;
    display: block;
}

@media (max-width: 768px) {
  .cardservico {
    width: 80%;
    margin: 10px
  }
} 


